body {
	font-family: 'Open Sans', sans-serif;
}
.b-container {
	width: 960px;
	margin: 0 auto;
}
.b-head {
	background: url(../image/background-image.jpeg) no-repeat 50% top / cover;
	padding-top: 20px;
	padding-bottom: 60px;
}
.b-header {
	margin-bottom: 30px;
}
.b-logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.b-call {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: right;
	background: rgba(225, 227, 231, 0.8);
	border-radius: 10px;
	padding: 15px;
	font-size: 36px;
	position: relative;
}
.b-call:before {
	content: "";
	display: inline-block;
	border: 15px solid rgba(225, 227, 231, 0.8);
	border-left-width: 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	left: -15px;
	top: 50%;
	margin-top: -15px;
}
.b-call__item {
	margin: 0;
}
.b-call__item--color {
	text-transform: uppercase;
	color: #bb1d1f;
	display: block;
	background: transparent;
}
.b-call__tel {
	font-size: 48px;
	color: #000;
	text-decoration: none;
	background-image: linear-gradient(to right, #000 0, #000 16px, transparent 16px);
 	background-size: 28px 3px;
    background-repeat: repeat-x;
    background-position: 0% 90%;
}
.b-call__tel:hover {
	color: #bb1d1f;
	background-image: linear-gradient(to right, #bb1d1f 0, #bb1d1f 16px, transparent 16px);
}
.b-feedback-text {
	display: flex;
	font-size: 36px;
	font-weight: 300;
	flex-direction: column;
	align-items: start;
	margin-bottom: 30px;
}
.b-feedback__item {
	margin: 0;
	margin-bottom: 10px;
	background: #fff;
	text-transform: uppercase;
	padding-left: 18px;
	padding-right: 35px;
}
.b-feedback__item--color {
	color: #bb1d1f;
	font-weight: 600;
	background: #fff;
}
.b-feedback__tel {
	color: #000;
	text-decoration: none;
}
.b-feedback__tel:hover {
	color: #bb1d1f;
}
.b-feedback__input {
	margin-bottom: 35px;
	position: relative;
	font-size: 36px;
	text-transform: uppercase;
}
.b-feedback-label {
	position: absolute;
	font-weight: 600;
	color: #bb1d1f;
	left: 7px;
	top: 5px;
}
.b-input {
	border: none; 
	outline: none;
	background: transparent;
	border-bottom: 2px solid #000;
	font-weight: 300;
	padding-left: 35px;
	padding-right: 45px;
}
.b-input::placeholder {
	text-transform: uppercase;
	font-weight: 300;
	color: #000;
}
.b-feedback-bth {
	border: none;
	background: #bb1d1f;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	padding: 5px 25px;
	box-shadow: 1px 1px 5px 0 #000;
	outline: none;
}
.b-feedback-bth:hover {
	box-shadow: 1px 1px 5px 1px #000;
}
.b-feedback-bth:active {
	box-shadow: inset 1px 1px 5px 1px #000;
}
.b-work {
	padding-top: 55px;
	padding-bottom: 25px;
}
.b-work-header {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 48px;
	margin: 0;
	margin-bottom: 55px;
}
.b-work-list {
	margin: 0;
	list-style: none;
	padding: 0;
}
.b-work-item {
	display: inline-block;
	width: 33%;
	margin-bottom: 30px;
}
.b-work-item__image {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
  	overflow: hidden;
  	width: 139px;
  	height: 139px;
}
.b-work-item__desc {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}
.b-work-item__desc--color {
	color: #bb1d1f;
	background: #fff;
}
.b-advantages {
	background: #f7f7f7;
	padding-top: 65px;
	padding-bottom:25px;
}
.b-advantages-header {
	font-weight: 300;
	font-size: 48px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 65px;
}
.b-advangages-list {
	margin: 0;
	list-style: none;
	padding: 0;
}
.b-advantages-list__item {
	font-weight: 600;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 40px;
	padding-left: 90px;
	position: relative;
}
.b-advantages-list__item:before {
	content: "";
	display: block;
	width: 19px;
	height: 13px;
	border-left: 7px solid #e51c20;
	border-bottom: 7px solid #e51c20;
	transform: rotate(-45deg);
	position: absolute;
	left: 35px;
}
.b-info {
	padding-bottom: 95px;
	padding-top: 95px;
	text-align: center;
}
.b-info-header {
	margin: 0;
	text-align: left;
	padding-left: 150px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 28px;
}
.b-info-desc {
	margin: 0 auto;
	margin-top: 25px;
	width: 820px;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	border: 3px solid #ff9c00;
	border-radius: 10px;
	position: relative;
}
.b-info-desc:before {
	content: "!";
	font-size: 260px;
	font-weight: 600;
	position: absolute;
	left: 5px;
	top: -210px;
}
.b-info-desc__item {
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.1	;
}
.b-info-desc__item:last-child {
	padding-top: 0;
}
.b-info-desc__item--size {
	font-size: 18px;
	position: relative;
}
.b-info-desc__item--weight {
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
}
.b-info-desc__item--size:after {
	content: "";
	display: block;
	height: 3px;
	width: 110px;
	position: absolute;
	background: #000;
	left: 315px;
	bottom: 0;
}
.b-footer-feedback {
	background: #bb1d1f;
	text-align: center;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
}
.b-footer-feedback__header {
	font-size: 24px;
	margin-bottom: 35px;
}
.b-footer-feedback__header--upper {
	text-transform: uppercase;
	background: transparent;
	color: #fff;
}
.b-footer-tel {
	text-decoration: none;
	color: #fff;
}
.b-footer-tel:hover {
	color: #000;
}
.b-footer-input {
	width: 340px;
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
	border: none;
	outline: none;
	padding: 5px 10px;
	margin-right: 15px;
	box-sizing: border-box;
	color: #000;
}
.b-footer-input::placeholder {
	color: #000;
}
.b-footer-btn {
	width: 240px;
	border: 2px solid #fff;
	background: #bb1d1f;
	font-size: 20px;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	outline: none;
}
.b-footer-btn:hover {
	color: #000;
}
.b-footer-btn:active {
	color: #fff;
	border-color: #000;
}
.b-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align-last: justify;
}
.b-footer-call {
	display: inline-block;
}
.b-footer-copyright {
	display: inline-block;
	width: 200px;
}
.b-footer-logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.b-footer-phone {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #000;
	font-size: 22px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	background-image: linear-gradient(to right, #000 0, #000 8px, transparent 8px);
 	background-size: 18px 1px;
    background-repeat: repeat-x;
    background-position: 0% 90%;
    margin-top: -10px;
}
.b-footer-phone:hover {
	color: #bb1d1f;
	background-image: linear-gradient(to right, #bb1d1f 0, #bb1d1f 8px, transparent 8px);
}
.b-footer-desc {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 21px;
}
.b-copyright-logo {
	display: inline-block;
}
.b-copyright-desc {
	display: inline-block;
	font-size: 14px;
	color: #9b9b9b;
	width: 125px;
}